h2 {
    font-size: 64px;
    text-align: center;
}

.banner {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week2/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #707070;
    height: 958px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 64px;
}

.roboto {
    font-family: Roboto;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.banner-box {
    width: 340px;
    color: #ffffff;
    font-size: 24px;
}

.banner-title {
    font-size: 80px;
}

.banner-box div {
    margin-bottom: 32px;
}

.banner-box img {
    margin-right: 16px;
}

.about-title {
    margin-bottom: 40px;
}

.about-photo {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}

.about-content {
    font-size: 24px;
    text-align: center;
    width: 412px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
}

.about-content p {
    margin-bottom: 8px;
}

.about-list {
    width: 384px;
    padding: 32px;
    border-top: 1px solid #000;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
}

.about-list li::before {
    content: "●";
    color: #891818;
}

.about-list li {
    margin-bottom: 32px;
}

.my-brand {
    padding: 64px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin-bottom: 64px;
}

.my-brand-title {
    margin-bottom: 16px;
}

.my-brand-sub-title {
    margin-bottom: 32px;
}

.my-brand-content {
    margin: 0 auto;
    margin-bottom: 48px;
    width: 320px;
}

.my-brand-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin-bottom: 140px;
}

.my-brand-img img {
    margin: 20px 12px;
}

.other-title {
    margin-bottom: 24px;
}

.other-content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;
    text-align: center;
    width: 226px;
}

.other-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.other-product-item {
    margin: 28px 24px;
    text-align: center;
}

.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 64px;
    text-align: center;
}

.footer h2 {
    line-height: 75px;
}

.footer p {
    margin-bottom: 16px;
}