li {
    list-style: none;
}

a:hover {
    text-decoration:none;
}

.height-100vh {
    height: 100vh;
}

.m-32px {
    margin: 32px;
}

.mb-32px {
    margin-bottom: 32px;
}

.ml-40px {
    margin-left: 40px;
}

.c-pointer {
    cursor: pointer;
}

.user-image {
    width: 40px;
    height: 40px;
}

.color-dark-green {
    color: #121212;
}

.color-green {
    color: #2A8356;
}

.menu {
    background: #EDF4EE;
}