li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

.height-100vh {
    height: 100vh;
}

.mb-18px {
    margin-bottom: 18px;
}

.mb-24px {
    margin-bottom: 24px;
}

.m-32px {
    margin: 32px;
}

.mt-32px {
    margin-bottom: 32px;
}

.mb-32px {
    margin-bottom: 32px;
}

.mr-32px {
    margin-right: 32px;
}

.ml-40px {
    margin-left: 40px;
}

.pb-8px {
    padding-bottom: 8px;
}

.pb-24px {
    padding-bottom: 24px;
}

.p-32px {
    padding: 32px;
}

.pr-32px {
    padding-right: 32px;
}

.pl-32px {
    padding-left: 32px;
}

.h-24px {
    height: 24px;
}

.h-50px{
    height: 50px;
}

.w-24px {
    width: 24px;
}

.w-32px {
    width: 32px;
}

.c-pointer {
    cursor: pointer;
}

.user-image {
    width: 40px;
    height: 40px;
}

.color-dark-green {
    color: #121212;
}

.color-green {
    color: #2A8356;
}

.border-right-green {
    border-right: 1px solid #2A8356;
}

.border-green {
    border: 1px solid #2A8356;
}

.background-color-green {
    background-color: #2A8356;
}

.color-light-green {
    color: #CDDDCD;
}

.background-color-light-green {
    background-color: #EDF4EE;
}

.border-bottom-light-green {
    border-bottom: 1px solid #CDDDCD;
}

.border-2px-light-green {
    border: 2px solid #CDDDCD;
}

.color-red {
    color: #E3006E;
}

.border-red {
    border: 1px solid #E3006E;
}

.color-white {
    color: #ffffff;
}

.background-color-white {
    background-color: #ffffff;
}

.pagination-border {
    color: #EDF4EE;
}

.menu {
    background: #EDF4EE;
}

.font-14px {
    font-size: 14px;
}