.productMenu {
    display: flex;
    justify-content: center;
}

.productMenu__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    padding: 24px;
    border: 1px solid #DCDCDC;
}

.productMenu__item-active {
    border-bottom: 16px solid #AA0601;
}

.productMenu__itemContent {
    font-size: 42px;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
}

.banner__img {
    width: 49.5%;
}

.title {
    font-size: 42px;
    line-height: 63px;
    text-align: center;
}

.subTitle {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
}

.products {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.products__items {
    width: 25%
}

.products__img {
    width: 100%;
    margin-right: 30px;
    height: 164px;
}