.wrap{
    width: 500px;
    margin: 0 auto;
  }
  .header{
    width: 500px;
    margin: 0 auto;
    
  }
  .header h2{
    font-size: 20px;
  }
  .main{
    width: 500px;
    margin: 0 auto;
  }
  .main p{
    font-size: 20px;
  }
  .footer{
    width: 500px;
    margin: 0 auto;
  }
  .footer p {
    font-size: 20px;
  }