.wrap{
    margin: 0 auto;
  }
  .header{
    height: 120px;
    border: 1px solid #000;
    background: green;
    margin-bottom: 20px;
  }
  .header-outbox{
    width: 500px;
    margin: 0 auto;
  }
  .logo{
    height: 100px;
    width: 100px;
    background: #000;
    margin: 10px;
  }
  .content{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .banner{
    background: pink;
  }
  .banner-outbox{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
    margin: 0 auto;
  }
  .footer {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  }