<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
  <link rel="stylesheet" href="./assets/style/all.css">
  <link rel="stylesheet" href="<%- pageCss %>">
</head>

<body>
  <div style="display:flex;">
    <div style="width: 23%;">
      <div>
        <img src="https://hexschool.github.io/webLayoutTraining1st/week5/logo-ANSWER.svg" alt="">
        <ul>
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li>
            <a href="#">Question</a>
          </li>
          <li>
            <a href="./assignment.html">Assignment</a>
          </li>
          <li>
            <a href="#">Course</a>
          </li>
          <li>
            <a href="./admin.html">Admin</a>
          </li>
          <li>
            <a href="#">Settings</a>
          </li>
        </ul>
      </div>
      <div>
        <div>
          <p>Andy Chen</p>
          <p>andy0401@mail.com</p>
        </div>
      </div>
    </div>

    <div style="width: 77%;">
      <%- contents %>
    </div>

  </div>

  <script src="./assets/js/vendors.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>