.hearder {
    background-color: #AA0601;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 88px;
    height: 108px;
}

.header-menu {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.header-menu a {
    color: #ffffff;
    font-size: 20px;
    text-decoration:none;
}

.fw-regular{
    font-weight: 400;
}

.fw-bold{
    font-weight: 700;
}

.noto-sans{
    font-family: "Noto Sans";
}