.banner {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week3/banner.png);
    height: 840px;
}

.banner-box{
    max-width: 1152px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 350px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.banner-title {
    font-size: 36px;
    color: #650300;
    margin-left: 63px;
}

.banner-sub-title {
    font-size: 64px;
    color: #650300;
}
